@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

.app {
  width: 80%;
  margin: auto;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width:1050px) {
  .app {
    width: 90%;
  }
}

/* Default Theme Variables */
:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --primary-color: #49557e;
  --secondary-color: #ff4c24;
  --button-bg: linear-gradient(135deg, #ff4c24, #ff7a18);
  --button-text: #ffffff;
}

/* Dark Theme Variables */
[data-theme="dark"] {
  --background-color: #121212;
  --text-color: #ffffff;
  --primary-color: #a9a9a9;
  --secondary-color: #ff7a18;
  --button-bg: linear-gradient(135deg, #ff7a18, #ff4c24);
  --button-text: #000000;
}
